/* game colors */
.diet {
	color: #1b8c76;
}
.diet-bg {
	background-color: #1b8c76;
	color: #f2f2f2;
}
.oral-hygiene {
	color: #6abab8;
}
.oral-hygiene-bg {
	background-color: #6abab8;
	color: #f2f2f2 ;
}
.safety {
	color: #db584d;
}
.safety-bg {
	background-color: #db584d;
	color: #f2f2f2 ;
}
.drug-interaction {
	color: #ef9233;
}
.drug-interaction-bg {
	background-color: #ef9233;
	color: #f2f2f2 ;
}
.pt-inr-monitoring {
	color: #ddc02f;
}
.pt-inr-monitoring-bg {
	background-color: #ddc02f;
	color: #f2f2f2 ;
}


/*Shared items*/
.app-body{
	background-color: #f7f4ed;
}

.user-welcome {
	margin-top: 0px;
	text-align: center;
	font-size: 24px;
	background-color:  #f2f2f2;
}

i.fa {
	padding-right: 8px;
}
i.fa.no-padding {
	padding-right: 0px;
}

.modal-footer {
	text-align: center;
}
.ca-btn-success{
	color: #f2f2f2;
    background-color: #405c70;
    border-color: #405c70;

	}

/*login page*/

.app-header {
	background-color: #405c70;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}
.title-header h1{
	font-weight: bold;
	color: #6894af;
}

.login-btn {
	padding-left: 0px;
	padding-right: 0px;
}

.login-body div {
	padding-top: 20px;
}

/*landing page*/
.mini-game-launch-container, .mini-game-launch-wrapper{
	margin-bottom: 20px;
}
.mini-game-launch-inner {
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 7px
}
.mini-game-launch-container img {
	display: inline-block;
	border-radius: 50%;
	background-color: #fff;
}

/* full-screen modal */
.modal-dialog.modal-fs {
	margin: 0;
	width: 100%;
	height: 100%;
	color: white;
}

.modal-dialog.modal-fs .modal-content {
	border-radius: 0;
	border: 0;
	background-color: rgba(50, 50, 50, .9);
	box-shadow: none;
	height: 100%;
}

.scenario-footer {
	text-align: right;
	padding: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.score-change {
	font-size: 24px;
}

.score-change-good {
	color: #5cb85c;
}

.score-change-neutral {
	color: #f0ad4e;
}

.score-change-bad {
	color: #d9534f;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* minigames */
.mini-game-wrapper{
	margin-top: -20px;
}
.top-half-wrapper {
	padding: 15px;
}
.bottom-half-wrapper {
	margin-top: 25px;
	padding: 15px;
}
h3.mini-game-title {
	margin-bottom: 0px;
	margin-top: 5px;
	text-align: center;
}

/******* Diet *********/
.food-item-wrapper {
    border: 0;
    border-radius: 0px;
    max-height: 175px;
    max-width: 175px;
}
.food-card {
	margin-top: 20px;
	position: relative;
	padding: 0px;
}
.food-icon {
	vertical-align: baseline;
	width: 100%;
}
.food-label {
    color: #405c70;
    
    font-weight: bold;
    line-height: 18px;
    opacity: 0.8;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    padding: 0px;
}

.eating-plate {
	
}