<div id="app-header" class="container-fluid">
	<div class="row vertical-align">
		<div class="header-item-wrapper" style="width: 18%;">
			<button class="btn header-item" ng-click="goToLanding()">Home</button>
		</div>
		<div class="header-item-wrapper text-center" style="width: 29%">
			<button class="btn header-item" ng-click="showCoumadinInfoOverlay()">More Info</button>
		</div>
		<div class="header-item-wrapper text-center" style="width: 34%">
			<div class="header-item">Points: <span ng-class="{'negative-score': userData.score < 0}">{{userData.score}}</span></div>
		</div>
		<div class="header-item-wrapper" style="width: 19%">
			<button class="btn header-item" ng-click="goToLanding()">Exit</button>
		</div>
	</div>
</div>