<div ng-if="!currentItem">
	<div id="info-modal-header" class="modal-header">
		<h2 class="text-center">Warfarin (Coumadin&#174;) Patient Education</h2>
	</div>
	<div id="info-modal-body" class="modal-body">
		<p>Select link for more information.</p>
	    <ul class="coumadin-info-list">
	    	<li ng-repeat="info in information" ng-click="selectInfo(info)">{{info.title}}</li>
	    </ul>
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn" ng-click="close()">
	    	<i class="fa fa-close"></i>Close  More Info
		</button>
	</div>
</div>

<div ng-if="currentItem" ng-include="'/components/shared/coumadin-info-detail.html'"></div>
