<div class="container-fluid coumadin-landing-container">
    <h2 class="text-center">Welcome to Coumadin Hero!</h2>
    <!-- <hr> -->
    <p>This game can help adults like you learn how to care for themselves while taking Coumadin.</p>
    <p>Four game topics are included.</p>
    <hr>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('diet')">
        <div class="mini-game-launch-container col-xs-4">
            <div class="mini-game-launch-inner diet-bg">
                <img src="images/food-graphics/food-icon.png" width="100" height="100" class="img-responsive mini-game-launch-img">
            </div>
        </div>
        <div class="col-xs-8">
            <h3 class="mini-game-launch-label">Diet - Vitamin K Foods</h3>
        </div>
    </div>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('drug-interaction')">
        <div class="mini-game-launch-container col-xs-4">
            <div class="mini-game-launch-inner drug-interaction-bg">
                <img src="images/placeholder-example.gif" width="100" height="100" class="img-responsive mini-game-launch-img">
            </div>
        </div>
        <div class="col-xs-8">
            <h3 class="mini-game-launch-label">Drug Interactions</h3>
        </div>
    </div>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('safety')">
        <div class="mini-game-launch-container col-xs-4">
            <div class="mini-game-launch-inner safety-bg">
                <img src="images/placeholder-example.gif" width="100" height="100" class="img-responsive mini-game-launch-img">
            </div>
        </div>
        <div class="col-xs-8">
            <h3 class="mini-game-launch-label">Safety</h3>
        </div>
    </div>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('pt-inr-monitoring')">
        <div class="mini-game-launch-container col-xs-4">
            <div class="mini-game-launch-inner pt-inr-monitoring-bg">
                <img src="images/placeholder-example.gif" width="100" height="100" class="img-responsive mini-game-launch-img">
            </div>
        </div>
        <div class="col-xs-8">
            <h3 class="mini-game-launch-label">Blood Clotting Testing</h3>
        </div>
    </div>
    <hr>
    <p>Tap to select one of the topics to begin.</p>
</div>
