<div class="container-fluid coumadin-landing-container">
    <h2 class="text-center blue-info-text"><strong>Welcome to Coumadin Hero!</strong></h2>
    <!-- <hr> -->
    <p class="blue-info-text text-center"><strong>This game can help adults like you learn how to care for themselves while taking Coumadin.</strong></p>
    <p class="blue-info-text text-center"><strong>Three game topics are included.</strong></p>
    <hr>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('diet')">
        <div class="mini-game-launch-container text-center col-xs-4">
            <img src="images/scenarios/diet.png" class="img-responsive">
        </div>
        <div class="mini-game-launch-label-container col-xs-8">
            <p class="mini-game-launch-label"><strong>Diet - Vitamin K Foods</strong></p>
        </div>
    </div>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('drug-interaction')">
        <div class="mini-game-launch-container text-center col-xs-4">
            <img src="images/scenarios/drugs.png" class="img-responsive">
        </div>
        <div class="mini-game-launch-label-container col-xs-8">
            <p class="mini-game-launch-label"><strong>Drug Interactions</strong></p>
        </div>
    </div>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('pt-inr-monitoring')">
        <div class="mini-game-launch-container text-center col-xs-4">
            <img src="images/scenarios/ptinr.png" class="img-responsive mini-game-launch-img">
        </div>
        <div class="mini-game-launch-label-container col-xs-8">
            <p class="mini-game-launch-label"><strong>Blood Clotting Testing</strong></p>
        </div>
    </div>
    <hr>
    <p class="blue-info-text text-center"><strong>Tap to select one of the topics to begin.</strong></p>
</div>
