<div class="container-fluid coumadin-landing-container">
    <h3 class="text-center"><strong>Welcome to Coumadin Hero!</strong></h3>
    <!-- <hr> -->
    <p><strong>You can become a hero taking care of yourself while taking Coumadin.</strong></p>
    <p><strong>Three topics are included. Tap to select one of them to begin.</strong></p>
    <hr>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('vitamin-k-foods')">
        <div class="mini-game-launch-container text-center col-xs-4">
            <img src="images/scenarios/diet.png" class="img-responsive">
        </div>
        <div class="mini-game-launch-label-container col-xs-8">
            <p class="mini-game-launch-label blue-info-text"><strong>Diet - Vitamin K Foods</strong></p>
        </div>
    </div>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('drug-interaction')">
        <div class="mini-game-launch-container text-center col-xs-4">
            <img src="images/scenarios/drugs.png" class="img-responsive">
        </div>
        <div class="mini-game-launch-label-container col-xs-8">
            <p class="mini-game-launch-label blue-info-text"><strong>My Other Medications</strong></p>
        </div>
    </div>
    <div class="row mini-game-launch-wrapper" ng-click="minigame('pt-inr-monitoring')">
        <div class="mini-game-launch-container text-center col-xs-4">
            <img src="images/scenarios/ptinr.png" class="img-responsive mini-game-launch-img">
        </div>
        <div class="mini-game-launch-label-container col-xs-8">
            <p class="mini-game-launch-label blue-info-text"><strong>Blood Clotting Testing</strong></p>
        </div>
    </div>
</div>
