<div class="container-fluid coumadin-landing-container">
    <!-- <div class="app-body"> -->
        <div class="mini-game-launch-wrapper">
            <div class="row">
                <div class="mini-game-launch-container col-xs-6 col-lg-offset-2 col-lg-4 text-center " ng-click="minigame('vitamin-k-food')">
                    <div class="mini-game-launch-inner diet-bg">
                        <img src="images/food-graphics/food-icon.png" width="200" height="200" class="img-responsive mini-game-launch-img">
                        <h3>Diet - Vitamin <br>K Foods</h3>
                    </div>
                </div>
                <div class="mini-game-launch-container col-xs-6 col-lg-4 text-center " ng-click="minigame('safety')">
                    <div class="mini-game-launch-inner safety-bg">
                        <img src="images/placeholder-example.gif" width="200" height="200" class="img-responsive mini-game-launch-img">
                        <h3>Safety<br>&nbsp;</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mini-game-launch-container col-xs-6 col-lg-offset-2 col-lg-4 text-center " ng-click="minigame('drug-interaction')">
                    <div class="mini-game-launch-inner drug-interaction-bg">
                        <img src="images/placeholder-example.gif" width="200" height="200" class="img-responsive mini-game-launch-img">
                        <h3>Drug <br>Interaction</h3>
                    </div>
                </div>
                <div class="mini-game-launch-container col-xs-6 col-lg-4 text-center " ng-click="minigame('pt-inr-monitoring')">
                    <div class="mini-game-launch-inner pt-inr-monitoring-bg">
                        <img src="images/placeholder-example.gif" width="200" height="200" class="img-responsive mini-game-launch-img">
                        <h3>Blood Clotting <br>Testing</h3>
                    </div>
                </div>
                <!-- <div class="mini-game-launch-container col-xs-6 col-lg-4 text-center" ng-click="minigame('oral-hygiene')">
                    <div class="mini-game-launch-inner oral-hygiene-bg">
                        <img src="images/placeholder-example.gif" width="200" height="200" class="img-responsive mini-game-launch-img">
                        <h3>Oral Hygiene</h3>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <!-- <div class="mini-game-launch-container col-xs-6 col-lg-offset-2 col-lg-4 text-center " ng-click="minigame('pt-inr-monitoring')">
                    <div class="mini-game-launch-inner pt-inr-monitoring-bg">
                        <img src="images/placeholder-example.gif" width="200" height="200" class="img-responsive mini-game-launch-img">
                        <h3>PT/INR Monitoring</h3>
                    </div>
                </div> -->
                <!-- <div class="mini-game-launch-container col-xs-6 col-lg-offset-2 col-lg-4 text-center " ng-click="minigame('info')">
                    <div class="mini-game-launch-inner info-bg">
                        <img src="images/placeholder-example.gif" width="200" height="200" class="img-responsive mini-game-launch-img">
                        <h3>Vitamin K Info</h3>
                    </div>
                </div> -->
            </div>
        </div> <!-- mini-game-launch-wrapper -->
    <!-- </div> -->
</div>
