<div class="modal-body" id="modal-body">You selected RETRY 3 items in a row. You cannot retry this item again without making a selection. What do you want to do?</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-6">
           <button class="btn k-modal-btn" type="button" ng-click="quit()">Quit</button>
        </div>
        <!--div class="col-xs-3">
           <button class="btn k-modal-btn" type="button" ng-click="skip()">Skip</button>
        </div-->
        <div class="col-xs-6">
            <button class="btn k-modal-btn" type="button" ng-click="continue()">Continue</button>
        </div>
    </div>
</div>
