<div class="modal-header">
	<img ng-src="{{scenario.config.icon}}" width="50" height="50" class="img-responsive mini-game-launch-img scenario-header-icon">
    <h2 class="modal-title text-center" id="modal-title">Rules of the {{scenario.config.name}} Game</h2>
</div>
<div class="modal-body" id="modal-body">
	<div ng-repeat="info in scenario.config.rules">
		<h3 ng-if="info.title">{{info.title}}</h3>
		<p>{{info.text}}</p>
		</br>
	</div>
	
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="back()"><i class="fa fa-arrow-left"></i>Back</button>
    <button class="btn btn-success" type="button" ng-click="start()"><i class="fa fa-arrow-right"></i>Tap Here to Play</button>
</div>
