<ng-include src="'components/shared/app-header.html'"></ng-include>
<div class="modal-header">
	<img ng-src="{{scenario.config.icon}}" width="50" height="50" class="img-responsive mini-game-launch-img scenario-header-icon">
    <h2 class="modal-title text-center" id="modal-title">Coumadin Information</h2>
</div>
<div class="modal-body" id="modal-body">
	<div ng-repeat="info in scenario.config.coumadinInfo">
		<h3 ng-if="info.title">{{info.title}}</h3>
		<p>{{info.text}}</p>
		</br>
	</div>	
</div>
<div class="modal-footer">
    <button class="btn text-center btn-large" type="button" ng-click="showRules()">Play</button>
</div>
