<ng-include src="'components/shared/app-header.html'"></ng-include>
<div class="modal-header">
	<img ng-src="{{scenario.config.icon}}" width="50" height="50" class="img-responsive mini-game-launch-img scenario-header-icon">
	<img class="center-image img-responsive" ng-src="{{scenario.config.trophyImage}}" alt="{{scenario.config.name}} Proficiency Badge">
</div>
<div class="modal-body" id="modal-body">
	<p class="modal-title text-center" id="modal-title">Congratulations!</p>
	</br>
	<div ng-repeat="info in scenario.config.trophyText">
		<h3 class="text-center" ng-if="info.title">{{info.title}}</h3>
		<p class="text-center">{{info.text}}</p>
		</br>
	</div>
</div>
<div class="modal-footer" ng-class="{'vitamin-k-foods-footer': scenario.config.id === 'vitamin-k-foods'}" >
	<div class="col-xs-12">
    	<button class="btn" type="button" ng-click="playAgain()">Play Again</button>
    </div>
</div>
