<div class="modal-body" id="modal-body">You skipped 3 items in a row. You cannot skip the next item without making a selection. What do you want to do?</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-4">
           <button class="btn btn-xl pull-left" type="button" ng-click="quit()">Quit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
           <button class="btn btn-xl pull-left" type="button" ng-click="retry()">Retry</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-xl" type="button" ng-click="continue()">Continue</button>
        </div>
    </div>
</div>
