<div class="container-fluid eating-wrapper" ng-controller="VitaminKController">
	<!-- top row of foods -->
	<div class="row">
		<div class="col-xs-12 vit-k-banner">
			<div class="row">
				<div class="col-xs-6">
					<div class="vit-k-timer">
						<span>Game Clock</span>
						<hr>
						<span ng-class="{'final-countdown vit-k-blink': gameSecondsRemaining < 10}">{{gameSecondsRemaining | secondsToDateTime | date:'m:ss'}}</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="vit-k-timer">
						<span>Item Clock</span>
						<hr>
						<span ng-class="{'final-countdown vit-k-blink': selectionSecondsRemaining < 10}">{{selectionSecondsRemaining | secondsToDateTime | date:'m:ss'}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Div -->
	<div>
		<div class="col-xs-6 text-center">
			<div class="row">
				<div class="col-xs-12">
					<h3>{{selectionMsg}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<img ng-src={{leftPanelBGImage}} class="img-responsive guy-image">
				</div>
			</div>
		</div>
		<div class="col-xs-6 challenge-food">
			<div class="row vit-k-game-banner">
				<!--<img ng-src="images/scenarios/diet.png" width="50" height="50" class="img-responsive mini-game-launch-img scenario-header-icon" src="images/scenarios/diet.png">-->
			Does the food below have high or low Vitamin K?
			</div>
			<div class="row">
				<div class="col-xs-12">
					<img ng-src="{{currentFoodItem.src}}" alt="{{currentFoodItem.name}}" class="food-icon-vit-k img-responsive" data-id="{{currentFoodItem.id}}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="vitamin-k-food-label">
						<span class="food-label-inner">{{currentFoodItem.name}}</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="col-xs-6">
						<button type="button" class="btn btn-default btn-md k-selection-btn" ng-click="selectionMade('low')" ng-disabled="selectionBtnDisabled">Low&nbsp;
							<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
						</button>
					</div>
					<div class="col-xs-6">
						<button type="button" class="btn btn-default btn-md k-selection-btn" ng-click="selectionMade('high')" ng-disabled="selectionBtnDisabled">High&nbsp;
							<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-xs-offset-5 col-sm-12">
				<div class="col-xs-12 text-center" id="high-low-blue">
				Tap on High or Low to select
				</div>
			</div>
		<!-- <div class="col-xs-12">
			<div class="row vit-k-game-banner">
				<div class="col-xs-12 text-center" style="padding:0px; font-size:.9em;">Tap on High or Low to select</div>
			</div> -->
			<!-- <div class="row col-xs-offset-5 vitamin-k-footer">
				<div class="col-xs-6">
					<button type="button" class="btn btn-default k-selection-btn" ng-click="selectionMade('low')" ng-disabled="selectionBtnDisabled">Low&nbsp;
						<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
					</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-default k-selection-btn" ng-click="selectionMade('high')" ng-disabled="selectionBtnDisabled">High&nbsp;
						<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
					</button>
				</div>
			</div> 
		</div> -->

<!--			<hr>
			<div class="row vit-k-game-banner">
				<div class="col-xs-12">Tap on High or Low to select</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<button type="button" class="btn btn-default k-selection-btn" ng-click="selectionMade('low')" ng-disabled="selectionBtnDisabled">Low&nbsp;
						<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
					</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-default k-selection-btn" ng-click="selectionMade('high')" ng-disabled="selectionBtnDisabled">High&nbsp;
						<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
-->
	
	<!-- Button Div -->
	<!--div class="col-xs-12">

		<div class="row col-xs-12 ">
			<h3>Select Vitamin K Level for {{currentFoodItem.name}}</h3>
		</div-->
		
		
		<!--div class="col-xs-12 ">
			<button type="button" class="btn btn-default btn-lg btn-block selection-items" ng-click="selectionMade('low')" ng-disabled="selectionBtnDisabled">
				Low<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
			</button>
		</div-->
<!-- 	</div>
	
	
</div> -->
