<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Results</h3>
</div>
<div class="modal-body" id="modal-body">
	<p>You did something! And got some points! Or else you lost some points! Who can say?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" title="Retry this scenario" ng-click="retry()"><i class="fa fa-refresh"></i>Retry</button>
    <button class="btn btn-default" type="button" title="Go to the next scenario" ng-click="next()"><i class="fa fa-arrow-right"></i>Next</button>
</div>
