<div class="container-fluid eating-wrapper" ng-controller="EatingController">
	<!-- <h3 class="mini-game-title">Diet Game</h3> -->
	<div id="buffet-region" class="top-half-wrapper row">
		<div class="col-xs-3 col-sm-4 food-item-wrapper" ng-repeat="food in buffetFoods" >
			<div class="food-card" draggable="true" data-id="{{food.id}}">
				<img ng-src="{{food.src}}" alt="{{food.name}}" class="food-icon img-responsive" data-id="{{food.id}}">
				<div class="food-label">{{food.name}}</div>
			</div>
		</div>  
	</div>
	<div class="spacer-5-percent"></div>
	<div id="plate-region" class="bottom-half-wrapper row eating-plate">
		<div class="col-xs-3 col-sm-4 food-item-wrapper" ng-repeat="food in selectedFoods">
			<div class="food-card" draggable="true" data-id="{{food.id}}">
				<img ng-src="{{food.src}}" alt="{{food.name}}" class="food-icon img-responsive" data-id="{{food.id}}">
				<div class="food-label">{{food.name}}</div>
			</div>
		</div>
	</div>
</div>
