<ul>
	<li>
		<div>
			<p>Your INR number depends on your diagnosis</p>
		</div>
		&nbsp;
	</li>
	<li>
		<div>
			<p>Select the reason why you are taking Coumadin (you can select more than one reason):</p>
			<div>
				<label for="reason-0">
					<input id="reason-0" type="checkbox" ng-model="scenario.custom.coumadinReasons.heartDisease">&nbsp;I have a heart disease or pacemaker
				</label>
			</div>
			<div>
				<label for="reason-1">
					<input id="reason-1" type="checkbox" ng-model="scenario.custom.coumadinReasons.lungClot">&nbsp;I have clots in my lungs or embolism
				</label>
			</div>
			<div>
				<label for="reason-2">
					<input id="reason-2" type="checkbox" ng-model="scenario.custom.coumadinReasons.dvt">&nbsp;I have DVT or clotting in my legs or arms
				</label>
			</div>
			<div>
				<label for="reason-3">
					<input id="reason-3" type="checkbox" ng-model="scenario.custom.coumadinReasons.other">&nbsp;I have forgotten or I do not know the reason
				</label>
			</div>
		</div>
		&nbsp;
	</li>
	<li>
		<div>
			<p>Your doctor uses your blood clotting number to set your Coumadin dose.</p>
		</div>
	</li>
</ul>
